#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  height: 47rem;
  background-color: rgb(91, 155, 45);
  border-radius: 9px;
  box-shadow: 5px 8px 16px rgb(0, 0, 0),
  -5px -8px 16px rgba(0, 0, 0, 0.22);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  font-weight: 500;
}


.flashcard {
  width: 35rem;
  height: 20rem;
  cursor: pointer;
  perspective: 1000px;
}

.flashcard:hover {
  transform: scale(1.02);
  transition-duration: .2s;
}

.flashcard-inner {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d; 
  box-shadow: 0px 8px 15px black;
}

.flashcard.flipped .flashcard-inner{
  transform: rotateX(180deg);
  box-shadow: 0px -8px 15px black;
}

.flashcard-front,  .flashcard-back{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  backface-visibility: hidden;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.flashcard h3 {
  color: black;
}

.flashcard-back {
  transform: rotateX(180deg);
}
